[Unit]
Description=High performance and highly configurable RADIUS server

[Service]
ExecStart=/usr/sbin/radiusd -f -d /etc/freeradius/raddb
Restart=always
User=freeradius
Group=freeradius

[Install]
WantedBy=multi-user.target
